<div class="glow-bg glow-1"></div>
<div class="glow-bg glow-2"></div>

<nav class="navbar">
    <div class="nav-content container">
        <a href="#home" class="logo">ISRAT</a>
        <ul class="nav-links">
            <li><a href="#home" class="active">Home</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#letstalk">Let's Talk</a></li>
            <li><a href="#" id="theme-toggle" aria-label="Toggle Theme" style="font-size: 1.2rem; display: flex; align-items: center;"><i class="ph ph-moon"></i></a></li>
        </ul>
    </div>
</nav>